<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Ajándék</title>
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/konyvek.css}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap}" rel="stylesheet">

    <style>
        .main-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .gift-item{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .gift-img{
            width: 400px;
            height: 320px;
            margin: 20px;
        }
    </style>

</head>
<body>

<header th:replace="fragments/header"></header>


<main>

<div class="main-wrapper">

    <div class="gift-item" th:each="aji : ${ajandekok}">
        <img   class="gift-img" src="../static/img/bogre1.jpg" alt="ajandek helye" th:src="@{${aji.getEleresiUt()}}">
        <p th:text="${aji.getNev()}">Bögre</p>
        <p th:text="${aji.getAr()} + ' Ft'">5000Ft</p>
 <img th:src="@{/img/buy.svg}" src="../static/img/buy.svg" alt="kosárba-tesz-helye" width="64" height="64">
    </div>
</div>

</main>


<footer>

</footer>

</body>
</html>