<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajandek</title>
    <link th:href="@{.../staic/css/base.css}" href="../static/css/base.css" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <style>
        .main-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 500px;
            flex-wrap: wrap;
        }

        .gift-item{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .gift-img{
            width: 712px;
            height: 320px;
            margin: 20px;
        }
    </style>

</head>
<body>

<header>
    <img class="logo-img" src="../static/img/unicorn.svg" alt="logo helye">
    <p class="logo-name" style="margin-right: 10px">Unicorn</p>
    <nav>
        <ul>
            <li><p class="list-one-row-text"><a href="konyvek.html" th:href="@{/konyvek.html}">Könyvek</a></p></li>
            <li><p class="list-one-row-text"><a href="multimedia.html" th:href="">Multimédia</a></p></li>
            <li><p class="list-one-row-text"><a href="ajandek.html" th:href="ajandek.html">Ajándék</a></p></li>
            <li><p class="list-text"><a href="rendelesinfo.html" th:href="rendelesinfo.html">Rendelési információk</a></p></li>
            <li><a href="kosar.html" th:href="kosar.html"><img src="../static/img/shopping-basket.svg" alt="kosár helye"></a></li>
            <li><a href="profil.html" th:href="profil.html"><img src="../static/img/user.svg" alt="felhasználói-fiók"></a></li>
            <li><a  href="" th:href=""><img src="../static/img/logout.svg" alt="kijelentkezés-helye"></a></li>
        </ul>
    </nav>
</header>


<main>

<div class="main-wrapper">

    <div class="gift-item">
        <img class="gift-img" src="../static/img/bogre1.jpg" alt="ajandek helye">
        <p>Bögre</p>
        <p>5000Ft</p>
    </div>
    <div class="gift-item">
        <img class="gift-img" src="../static/img/bogre1.jpg" alt="ajandek helye">
        <p>Bögre</p>
        <p>5000Ft</p>
    </div>
    <div class="gift-item">
        <img class="gift-img" src="../static/img/bogre1.jpg" alt="ajandek helye">
        <p>Bögre</p>
        <p>5000Ft</p>
    </div>
    <div class="gift-item">
        <img  class="gift-img" src="../static/img/bogre1.jpg" alt="ajandek helye">
        <p>Bögre</p>
        <p>5000Ft</p>
    </div>
</div>

</main>


<footer>

</footer>

</body>
</html>