<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajandek</title>
    <link th:href="@{.../staic/css/base.css}" href="../static/css/base.css" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <style>
        .main-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 500px;
            flex-wrap: wrap;
        }

        .gift-item{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .gift-img{
            width: 712px;
            height: 320px;
            margin: 20px;
        }
    </style>

</head>
<body>

<header th:replace="fragments/header"></header>


<main>

<div class="main-wrapper">

    <div class="gift-item">
        <img class="gift-img" src="../static/img/bogre1.jpg" alt="ajandek helye">
        <p>Bögre</p>
        <p>5000Ft</p>
    </div>
    <div class="gift-item">
        <img class="gift-img" src="../static/img/bogre1.jpg" alt="ajandek helye">
        <p>Bögre</p>
        <p>5000Ft</p>
    </div>
    <div class="gift-item">
        <img class="gift-img" src="../static/img/bogre1.jpg" alt="ajandek helye">
        <p>Bögre</p>
        <p>5000Ft</p>
    </div>
    <div class="gift-item">
        <img  class="gift-img" src="../static/img/bogre1.jpg" alt="ajandek helye">
        <p>Bögre</p>
        <p>5000Ft</p>
    </div>
</div>

</main>


<footer>

</footer>

</body>
</html>