<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Konyvek</title>
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/konyvek.css}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap}" rel="stylesheet">

</head>

<body>
<header th:replace="fragments/header"></header>

<main>
    <div class="main-wrapper">

        <aside class="top-books">
            <div class="top-books-header">
                <h2>Toplista</h2>
            </div>
            <hr/>
            <div id="first-book">
                <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="200" height="267.5">
                <div>
                    <p>Cím: 1984</p>
                    <p>Szerző: George Orwell</p>
                </div>
            </div>
            <div class="rest">
                <img src="../static/img/golding-legyek-ura.jpg" alt="könyv borítójának helye" width="200" height="267.5">
                <div>
                    <p>Cím: Legyek ura</p>
                    <p>Szerző: William Golding</p>
                </div>
            </div>
            <div class="rest">
                <img src="../static/img/golding-legyek-ura.jpg" alt="könyv borítójának helye" width="200" height="267.5">
                <div>
                    <p>Cím: Legyek ura</p>
                    <p>Szerző: William Golding</p>
                </div>
            </div>
            <div class="rest">
                <img src="../static/img/golding-legyek-ura.jpg" alt="könyv borítójának helye" width="200" height="267.5">
                <div>
                    <p>Cím: Legyek ura</p>
                    <p>Szerző: William Golding</p>
                </div>
            </div>
        </aside>

        <div class="new-books">
            <div class="new-books-header">
                <h2>Újdonságok</h2>
            </div>
            <div class="new-books-items">
                <div class="new-book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="400" height="535">
                    <div>
                        <p>Cím: 1984</p>
                        <p>Szerző: George Orwell</p>
                    </div>
                </div>
                <div class="new-book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="400" height="535">
                    <div>
                        <p>Cím: 1984</p>
                        <p>Szerző: George Orwell</p>
                    </div>
                </div>
                <div class="new-book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="400" height="535">
                    <div>
                        <p>Cím: 1984</p>
                        <p>Szerző: George Orwell</p>
                    </div>
                </div>
                <div class="new-book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="400" height="535">
                    <div>
                        <p>Cím: 1984</p>
                        <p>Szerző: George Orwell</p>
                    </div>
                </div>
                <div class="new-book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="400" height="535">
                    <div>
                        <p>Cím: 1984</p>
                        <p>Szerző: George Orwell</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer>
    <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
</body>
</html>