<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unicorn</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link th:href="@{.../staic/css/base.css}" rel="stylesheet"/>
    <link th:href="@{.../staic/css/index.css}" rel="stylesheet"/>
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">


</head>

<body>
<header>
    <img class="logo-img" src="../static/img/unicorn.svg" alt="logo helye">
    <p class="logo-name" style="margin-right: 10px">Unicorn</p>
    <nav>
        <ul>
            <li><p class="list-one-row-text">Könyvek</p></li>
            <li><p class="list-one-row-text">Multimédia</p></li>
            <li><p class="list-one-row-text">Ajándék</p></li>
            <li><p class="list-text">Rendelési információk</p></li>
            <li><img src="../static/img/shopping-basket.svg" alt="kosár helye"></li>
            <li><img src="../static/img/user.svg" alt="felhasználói-fiók"></li>
            <li><img src="../static/img/logout.svg" alt="kijelentkezés-helye"></li>
        </ul>
    </nav>
</header>

<main>
    <div class="main-wrapper">

        <aside class="top-books">
            <div class="top-books-header">
                <h2>Toplista</h2>
            </div>
            <hr/>
            <div id="first-book">
                <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="200" height="267.5">
                <div>
                    <p>Cím: 1984</p>
                    <p>Szerző: George Orwell</p>
                </div>
            </div>
            <div class="rest">
                <img src="../static/img/golding-legyek-ura.jpg" alt="könyv borítójának helye" width="200" height="267.5">
                <div>
                    <p>Cím: Legyek ura</p>
                    <p>Szerző: William Golding</p>
                </div>
            </div>
            <div class="rest">
                <img src="../static/img/golding-legyek-ura.jpg" alt="könyv borítójának helye" width="200" height="267.5">
                <div>
                    <p>Cím: Legyek ura</p>
                    <p>Szerző: William Golding</p>
                </div>
            </div>
            <div class="rest">
                <img src="../static/img/golding-legyek-ura.jpg" alt="könyv borítójának helye" width="200" height="267.5">
                <div>
                    <p>Cím: Legyek ura</p>
                    <p>Szerző: William Golding</p>
                </div>
            </div>
        </aside>

        <div class="new-books">
            <div class="new-books-header">
                <h2>Újdonságok</h2>
            </div>
            <div class="new-books-items">
                <div class="new-book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="400" height="535">
                    <div>
                        <p>Cím: 1984</p>
                        <p>Szerző: George Orwell</p>
                    </div>
                </div>
                <div class="new-book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="400" height="535">
                    <div>
                        <p>Cím: 1984</p>
                        <p>Szerző: George Orwell</p>
                    </div>
                </div>
                <div class="new-book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="400" height="535">
                    <div>
                        <p>Cím: 1984</p>
                        <p>Szerző: George Orwell</p>
                    </div>
                </div>
                <div class="new-book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="400" height="535">
                    <div>
                        <p>Cím: 1984</p>
                        <p>Szerző: George Orwell</p>
                    </div>
                </div>
                <div class="new-book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="400" height="535">
                    <div>
                        <p>Cím: 1984</p>
                        <p>Szerző: George Orwell</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer>
    <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
</body>
</html>