<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Konyvek</title>
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/konyvek.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">

</head>
<body>

<header>
    <img class="logo-img" src="../static/img/unicorn.svg" alt="logo helye">
    <p class="logo-name" style="margin-right: 10px">Unicorn</p>
    <nav>
        <ul>
            <li><p class="list-one-row-text">Könyvek</p></li>
            <li><p class="list-one-row-text">Multimédia</p></li>
            <li><p class="list-one-row-text">Ajándék</p></li>
            <li><p class="list-text">Rendelési információk</p></li>
            <li><img src="../static/img/shopping-basket.svg" alt="kosár helye"></li>
            <li><img src="../static/img/user.svg" alt="felhasználói-fiók"></li>
            <li><img src="../static/img/logout.svg" alt="kijelentkezés-helye"></li>
        </ul>
    </nav>
</header>
<div class="inside-menu-wrapper">
    <ul class="inside-menu">
        <li class="inside-menu-item"><p class="list-one-row-text">Könyv</p></li>
        <li class="inside-menu-item"><p class="list-one-row-text">Újság</p></li>
        <li class="inside-menu-item"><p class="list-one-row-text">Tankönyv</p></li>
        <li class="inside-menu-item"><p class="list-one-row-text">Hangoskönyv</p></li>
        <li class="inside-menu-item"><p class="list-one-row-text">Elérhetőség</p></li>
    </ul>
</div>
<div class="search-bar">

    <form>
        <label>
            Kereső
            <input type="text" placeholder="Keresés..." name="search">
        </label>
        <input type="submit" value="keres" >
    </form>
</div>



<main>
    <div class="main-wrapper">
        <div class="genre-block">
            <div class="genre-header">
                <h2>Műfaj szerint</h2>
            </div>
            <ul>
                <li>Krimi</li>
                <li>Novella</li>
                <li>Ifjúsági</li>
                <li>Romantikus</li>
            </ul>
        </div>

        <div class="books">
            <div class="books-header">
                <h2>Kínálatunk</h2>
            </div>
            <div class="sort-wrapper">
                <ul class="sort-list">
                    <li class="sort-list-item">Rendezze a listát:</li>
                    <li class="sort-list-item">Cím</li>
                    <li class="sort-list-item">Szerző</li>
                    <li class="sort-list-item">Eladott darabszám</li>
                    <li class="sort-list-item">Ár</li>
                    <li class="sort-list-item">Kiadási év</li>
                </ul>
            </div>
            <div class="books-items">
                <div class="book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="200" height="270">
                    <div class="book-details">
                        <p class="title">1984</p>
                        <p class="author">George Orwell</p>
                        <hr>
                        <p class="price">5000 Ft</p>
                        <img src="../static/img/buy.svg" alt="kosárba-tesz-helye" width="64" height="64">
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="200" height="270">
                    <div class="book-details">
                        <p class="title">1984</p>
                        <p class="author">George Orwell</p>
                        <hr>
                        <p class="price">5000 Ft</p>
                        <img src="../static/img/buy.svg" alt="kosárba-tesz-helye" width="64" height="64">
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="200" height="270">
                    <div class="book-details">
                        <p class="title">1984</p>
                        <p class="author">George Orwell</p>
                        <hr>
                        <p class="price">5000 Ft</p>
                        <img src="../static/img/buy.svg" alt="kosárba-tesz-helye" width="64" height="64">
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="200" height="270">
                    <div class="book-details">
                        <p class="title">1984</p>
                        <p class="author">George Orwell</p>
                        <hr>
                        <p class="price">5000 Ft</p>
                        <img src="../static/img/buy.svg" alt="kosárba-tesz-helye" width="64" height="64">
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="200" height="270">
                    <div class="book-details">
                        <p class="title">1984</p>
                        <p class="author">George Orwell</p>
                        <hr>
                        <p class="price">5000 Ft</p>
                        <img src="../static/img/buy.svg" alt="kosárba-tesz-helye" width="64" height="64">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<footer>


</footer>

</body>
</html>