<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Konyvek</title>
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/konyvek.css}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap}" rel="stylesheet">

</head>
<body>

<header th:replace="fragments/header"></header>
<div class="inside-menu-wrapper">
    <ul class="inside-menu">
        <li class="inside-menu-item"><p class="list-one-row-text"><a th:href="@{/konyvek}">Könyv</a></p></li>
        <li class="inside-menu-item"><p class="list-one-row-text"><a th:href="@{/magazinok}">Magazin</a></p></li>
        <li class="inside-menu-item"><p class="list-one-row-text"><a th:href="@{/tankonyvek}">Tankönyv</a></p></li>
        <li class="inside-menu-item"><p class="list-one-row-text"><a th:href="@{/antikvarkonyvek}">Antikvár könyv</a></p></li>
        <li class="inside-menu-item"><p class="list-one-row-text"><a th:href="@{/hangoskonyvek}">Hangoskönyv</a></p></li>
        <li class="inside-menu-item"><p class="list-one-row-text">Elérhetőség</p></li>
    </ul>
</div>
<div class="search-bar">

    <form>
        <label>
            Kereső
            <input type="text" placeholder="Keresés..." name="search">
        </label>
        <input type="submit" value="keres">
    </form>
</div>


<main>
    <div class="main-wrapper">
        <div class="genre-block">
            <div class="genre-header">
                <h2>Műfaj szerint</h2>
            </div>
            <ul th:each=" mufaj: ${mufajok}">
                <a th:href="@{/konyvek/szur/{id}(id=${mufaj.key.getId()})}"><li th:text="${mufaj.key.getNev()}+' ('+${mufaj.value}+')'"></li></a>

            </ul>
        </div>

        <div class="books">
            <div class="books-header">
                <h2>Kínálatunk</h2>
            </div>
            <div class="sort-wrapper">
                <ul class="sort-list">
                    <li class="sort-list-item">Rendezze a listát:</li>
                    <li class="sort-list-item">Cím</li>
                    <li class="sort-list-item">Szerző</li>
                    <li class="sort-list-item">Eladott darabszám</li>
                    <li class="sort-list-item">Ár</li>
                    <li class="sort-list-item">Kiadási év</li>
                    <li th:if="${admine}" class="sort-list-item" ><a href="/add" > adatok hozzáadása</a></li>
                    <li th:if="${admine}" class="sort-list-item" ><a href="/addbolt" > bolt hozzáadása</a></li>
                </ul>
            </div>
            <div class="books-items">
                <div th:each="konyv: ${konyvek}" class="book-item">
                    <a th:href="@{/konyvek/reszletek/{id}(id=${konyv.getId()})}"><img  src="../static/img/orwell-1984.jpg" alt="könyv borítójának helye" width="200" height="270" th:src="@{${konyv.getEleresiUt()}}"></a>
                    <div class="book-details">
                        <p th:text="${konyv.getCim()}" class="title">1984</p>
                        <p th:text="${konyv.getSzerzo()}" class="author">George Orwell</p>
                        <hr>
                        <p th:text="${konyv.getAr()} + ' ' + Ft" class="price">5000 Ft</p>
                       <img  th:src="@{/img/buy.svg}" src="../static/img/buy.svg" alt="kosárba-tesz-helye" width="64" height="64">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<footer>


</footer>

</body>
</html>