<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Konyvek</title>
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/konyvek.css}" rel="stylesheet">
    <link th:href="@{/css/cart.css}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap}" rel="stylesheet">

</head>
<body>
<header th:replace="fragments/header"></header>
<main>
    <div class="main-wrapper">
        <div class="basket">
            <div class="basket-header">
                <h1>Kosár</h1>
            </div>

            <p>A kosár tartalma: <span th:if="${sum == 0}">A kosár jelenleg üres</span></p>
            <div class="basket-items">
                <form th:each=" konyv: ${konyvKosar}" method="post" th:action="@{/kosar/kosarbolTorolKonyv/{id}(id=${konyv.key.getId()})}"  class="basket-item">
                    <div class="basket-item-img-name">
                        <img  th:src="@{${konyv.key.getEleresiUt()}}" class="basket-img" src="../static/img/bogre1.jpg" alt="termek kepe">
                        <p th:text="${konyv.key.getCim()}" class="name">Bögre</p>
                    </div>
                    <div class="basket-item-price">
                        <div>
                            <div th:text="${konyv.value}" class="amount"></div>
                            <div>db</div>
                        </div>
                        <p th:text="${konyv.key.getAr() * konyv.value} + Ft" class="price">5000 Ft</p>
                        <p class="on-storage">Raktáron</p>
                        <input type="submit" value="töröl">
                    </div>
                </form>
                <form th:each=" multi: ${multiKosar}" method="post" th:action="@{/kosar/kosarbolTorolMulti/{id}(id=${multi.key.getId()})}" class="basket-item">
                    <div class="basket-item-img-name">
                        <img  th:src="@{${multi.key.getEleresiUt()}}" class="basket-img" src="../static/img/bogre1.jpg" alt="termek kepe">
                        <p th:text="${multi.key.getCim()}" class="name">Bögre</p>
                    </div>
                    <div class="basket-item-price">
                        <div>
                            <div th:text="${multi.value}" class="amount"></div>
                            <div>db</div>
                        </div>
                        <p th:text="${multi.key.getAr() * multi.value} + Ft" class="price">5000 Ft</p>
                        <p class="on-storage">Raktáron</p>
                        <input type="submit" value="töröl">
                    </div>
                </form>
            </div>
        </div>

        <form class="payment" action="/kosar/vasarlas" method="post">
            <h2>Rendelés összegzése</h2>
<!--            <span>Összeg:</span> <span></span> <br>-->
<!--            <span>Szállítási költség:</span> <span>10000 Ft</span> <br>-->
<!--            <hr>-->
            <span class="last-price">Végösszeg:</span> <span th:text="${sum} + ' Ft' " class="last-price">10000 Ft</span> <br>
            <hr>
            <div>
                <span>Vásárlási utalvány megadása:</span>
                <label for="discount"></label>
                <input id="discount" type="text" name="discount">
            </div>
            <div class="details">
                Átvétel:
            <label for="hazhoz">Házhozszállítással:</label>
            <input id="hazhoz" type="radio" name="szalliatas" value="hazhoz">
            <label for="uzletbe">Átvétel üzletünkben:</label>
            <input id="uzletbe" type="radio" name="szalliatas" value="uzletbe">
            <label for="szamla">Szamla igényes:</label>
            <input id="szamla" type="checkbox" name="szamla" value="szamla">
            <input type="submit" value="Küldés">
            </div>
            <div th:each="uzenet : ${uzenetek}">
                <p th:text="${uzenet.value}"></p>
                <p th:text="${uzenet.key}"> </p>
            </div>
        </form>

    </div>
</main>

<footer>

</footer>

</body>
</html>
