<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/log-reg.css" rel="stylesheet">
</head>
<body>
<header th:replace="fragments/header"></header>
<main>
    <div class="login-image-wrapper">
        <img class="login-image" src="../static/img/unicorn.svg" alt="logo helye">
        <blockquote>
            "Annyira hihetetlenek az áraink, <br> mint egy unikornis"
        </blockquote>
        <span class="name">Unicorn</span>
    </div>

    <div class="login-wrapper">
        <h1 >Bejelentkezés</h1>
        <form class="login-form">

            <label for="email">Email cím:</label>
            <input id="email" type="text" name="email">
            <label for="pw">jelszó</label>
            <input id="pw" type="text" name="pw">
            <input type="submit" value="Belépés">

        </form>
    </div>


</main>

<footer>

</footer>


</body>
</html>