<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hozzáadás</title>
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/konyvek.css}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap}" rel="stylesheet">

</head>

<style>


    main {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 1.24em;
        min-height: auto;
    }

    .book-item {
        display: flex;
        flex-direction: column;
    }

    .termek-wrapper {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }


</style>


<body>

<header th:replace="fragments/header"></header>

<main>
    <div class="termek-wrapper">
        <form action="/addfilm" method="post">
            <div class="book-item">
                <img th:src="@{/img/unicorn.svg}" class="logo-img" src="../static/img/unicorn.svg" alt="unikornis">
                <div class="book-details">
                    <h4>Film:</h4>
                    <label for="cover6">Borítókép:</label>
                    <input type="text" id="cover6" name="eleresiUt">
                    <label for="title">Cím:</label>
                    <input type="text" id="title" name="cim">
                    <label for="price">Ár:</label>
                    <input type="number" id="price" name="ar">
                    <label for="nar">Év:</label>
                    <input type="text" id="nar" name="ev">
                    <label for="length">Hossz:</label>
                    <input type="text" id="length" name="hossz">
                    <input type="submit">
                    <hr>
                </div>
            </div>
        </form>
        <form action="/addzene" method="post">
            <div class="book-item">
                <div class="book-details">
                    <h4>Zene:</h4>
                    <label for="cover5">Borítókép:</label>
                    <input type="text" id="cover5" name="eleresiUt">
                    <label for="music">Előadó:</label>
                    <input type="text" id="music" name="eloado">
                    <label for="title">Cím:</label>
                    <input type="text" id="title2" name="cim">
                    <label for="price">Ár:</label>
                    <input type="number" id="price2" name="ar">
                    <input type="submit">
                    <hr>
                </div>
            </div>
        </form>

    </div>
</main>

<footer>

</footer>

</body>
</html>