<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hozzáadás</title>
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/konyvek.css}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap}" rel="stylesheet">

</head>

<style>


    main {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 1.24em;
        min-height: auto;
    }

    .book-item {
        display: flex;
        flex-direction: column;
    }

    .termek-wrapper {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }


</style>


<body>

<header>
    <img th:src="@{/img/unicorn.svg}" class="logo-img" src="../static/img/unicorn.svg" alt="logo helye">
    <p class="logo-name" style="margin-right: 10px">Unicorn</p>
    <nav>
        <ul>
            <li><p class="list-one-row-text"><a th:href="@{/konyvek}">Könyvek</a></p></li>
            <li><p class="list-one-row-text"><a  th:href="@{/multimedia}">Multimédia</a></p>
            </li>
            <li><p class="list-one-row-text"><a  th:href="@{/ajandek.html}">Ajándék</a></p></li>
            <li>
                <p class="list-text">
                    <a href="rendelesinfo.html" th:href="@{/rendelesinfo.html}">Rendelési információk</a>
                </p>
            </li>
            <li><a th:href="@{/kosar.html}"><img th:src="@{/img/shopping-basket.svg}" src="../static/img/shopping-basket.svg"
                                                 alt="kosár helye"></a></li>
            <li><a th:href="profil.html"><img  th:src="@{/img/user.svg}" src="../static/img/user.svg"
                                               alt="felhasználói-fiók"></a></li>
            <li><a><img th:src="@{/img/logout.svg}" src="../static/img/logout.svg" alt="kijelentkezés-helye"></a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="termek-wrapper">
        <form action="/addfilm" method="post">
            <div class="book-item">
                <img th:src="@{/img/unicorn.svg}" class="logo-img" src="../static/img/unicorn.svg" alt="unikornis">
                <label for="cover">Borítókép:</label>
                <input type="file" id="cover" name="eleresiUt">
                <div class="book-details">
                    <label for="title">Cím:</label>
                    <input type="text" id="title" name="cim">
                    <label for="price">Ár:</label>
                    <input type="number" id="price" name="ar">
                    <hr>


                    <h4>Film:</h4>
                    <label for="nar">Év:</label>
                    <input type="text" id="nar" name="ev">
                    <label for="length">Hossz:</label>
                    <input type="text" id="length" name="hossz">
                    <input type="submit">
                    <hr>
                </div>
            </div>
        </form>
        <form action="/addzene" method="post">
            <div class="book-item">
                <label for="cover2">Borítókép:</label>
                <input type="file" id="cover2" name="eleresiUt">
                <div class="book-details">
                    <h4>Zene:</h4>
                    <label for="music"></label>
                    <input type="text" id="music" name="eloado">
                    <label for="title">Cím:</label>
                    <input type="text" id="title2" name="cim">
                    <label for="price">Ár:</label>
                    <input type="number" id="price2" name="ar">
                    <input type="submit">
                    <hr>
                </div>
            </div>
        </form>

    </div>
</main>

<footer>

</footer>

</body>
</html>