<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/log-reg.css}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap}" rel="stylesheet">
</head>
<body>
<header th:replace="fragments/header"></header>

<main>
    <div class="login-image-wrapper">
        <img class="login-image" src="../static/img/unicorn.svg" alt="logo helye">
        <blockquote>
            "Annyira hihetetlenek az áraink, <br> mint egy unikornis"
        </blockquote>
        <span class="name">Unicorn</span>
    </div>

    <div class="reg-wrapper">
        <h1>Regisztráció</h1>
        <form class="login-form" action="/register" method="post">
            <label for="email">Email cím:</label>
            <input id="email" type="text" name="email">
            <label for="pw">jelszó:</label>
            <input id="pw" type="password" name="pw">
            <label for="pw-again">jelszó újra:</label>
            <input id="pw-again" type="password" name="pw-again">
            <label for="name">Név:</label>
            <input id="name" type="text" name="name">
            <label for="date">Szülidő:</label>
            <input id="date" type="date" name="date">
            <label for="tel">Telefonszám:</label>
            <input id="tel" type="tel" name="tel">
            <label for="post-code">Írányító szám:</label>
            <input id="post-code" type="number" name="post-code">
            <label for="street">Utca szám:</label>
            <input id="street" type="text" name="street">
            <label for="street-number">Írányító szám:</label>
            <input id="street-number" type="number" name="street-number">
            <input type="submit" value="Belépés">
        </form>
    </div>

</main>

<footer>

</footer>


</body>
</html>