<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hozzá-adás</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/konyvek.css" rel="stylesheet">
</head>

<style>


    main {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 1.24em;
        min-height: auto;
    }

    .book-item{
        display: flex;
        flex-direction: column;
    }
    .termek-wrapper{
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }


</style>


<body>

<header>
    <img class="logo-img" src="../static/img/unicorn.svg" alt="logo helye">
    <p class="logo-name" style="margin-right: 10px">Unicorn</p>
    <nav>
        <ul>
            <li><p class="list-one-row-text"><a href="konyvek.html" th:href="@{/konyvek.html}">Könyvek</a></p></li>
            <li><p class="list-one-row-text"><a href="multimedia.html" th:href="">Multimédia</a></p></li>
            <li><p class="list-one-row-text"><a href="ajandek.html" th:href="ajandek.html">Ajándék</a></p></li>
            <li><p class="list-text"><a href="rendelesinfo.html" th:href="rendelesinfo.html">Rendelési információk</a></p></li>
            <li><a href="kosar.html" th:href="kosar.html"><img src="../static/img/shopping-basket.svg" alt="kosár helye"></a></li>
            <li><a href="profil.html" th:href="profil.html"><img src="../static/img/user.svg" alt="felhasználói-fiók"></a></li>
            <li><a  href="" th:href=""><img src="../static/img/logout.svg" alt="kijelentkezés-helye"></a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="termek-wrapper">
        <form>
            <div class="book-item">
                <img class="logo-img" src="../static/img/unicorn.svg" alt="unikornis">
                <label for="cover">Borítókép:</label>
                <input type="file" id="cover" name="cover">
                <div class="book-details">
                    <label for="title">Cím:</label>
                    <input type="text" id="title" name="title">
                    <label for="author">Szerző:</label>
                    <input type="text" id="author" name="author">
                    <hr>
                    <label for="pub">Kiadó:</label>
                    <input type="text" id="pub" name="pub">
                    <label for="year">Év:</label>
                    <input type="number" id="year" name="year">
                    <label for="num">Oldalszám:</label>
                    <input type="number" id="num" name="num">
                    <hr>
                    <label for="price">Ár:</label>
                    <input type="number" id="price" name="price">
                    <h4>Magazin:</h4>
                    <hr>
                    <label for="freq">Gyakoriság:</label>
                    <input type="text" id="freq" name="freq">
                    <h4>Hangoskönyv</h4>
                    <hr>
                    <label for="nar">Elbeszélő:</label>
                    <input type="text" id="nar" name="nar">
                    <label for="length">Hossz:</label>
                    <input type="text" id="length" name="length">
                    <h4>Antikvár:</h4>
                    <hr>
                    <label for="era">Kor:</label>
                    <input type="text" id="era" name="era">
                    <label for="state">Allapot:</label>
                    <input type="text" id="state" name="state">
                    <h4>Tankönyv:</h4>
                    <hr>
                    <label for="age">Ajánlott Kor:</label>
                    <input type="text" id="age" name="age">
                    <label for="type">Típus:</label>
                    <input type="text" id="type" name="type">
                    <input type="submit" >
                </div>
            </div>
        </form>

    </div>
</main>

<footer>

</footer>

</body>
</html>